body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.converter{
    text-align: center;
    color: rgb(103, 97, 97);
    box-shadow: 0 4px 8px rgb(197, 190, 190);
    padding: 40px;
    border-radius: 20px;
}
